.about {
  background-color: #f8f9fa;
  padding: 80px 0;
}

.about-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  gap: 50px;
  min-height: 70vh;
  max-width: 1300px;
}

.about-image img {
  width: 400px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.about-text {
  flex: 1;
}

.about-text h2 {
  font-size: 2.5rem;
  color: #111;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.7;
}

.about-text span {
  color: #e63946; /* same bright red you used in navbar/buttons */
  font-weight: bold;
}

.about-btn {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.about-btn:hover {
  background-color: #c92834;
  transform: scale(1.05);
}