 .navbar{
    background-color: #1c1c1c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
   width: 100%;
    z-index: 1000;
    

}
.navbar-heading{
    color: #ff3b30;
}
.navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    gap: 45px;
}
.navbar ul li{
list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffffff;
}

.navbar ul li a:hover{
    color: #ff3b30;
}

button{
 background-color: #ff3b30;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem ;
}

button:hover{
    background-color: #e62e25;
}