.footer {
  background: #1c1c1c;
  color: #fff;
  padding: 60px 0 30px;
  text-align: center;

}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 100%;
  margin: auto;
  gap: 30px;
}

.footer-logo h2 {
  font-size: 28px;
  color: #ff3830;
}


.footer-logo p {
  color: #aaa;
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.5;
}

.footer-links h3,
.footer-contact h3 {
  color: #ff3830;
  margin-bottom: 10px;
  font-size: 20px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 6px 0;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #ff3830;
}

.footer-contact p {
  color: #ccc;
  font-size: 15px;
  margin: 6px 0;
}

.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 40px;
  padding-top: 15px;
  color: #aaa;
  font-size: 14px;
}